<div>
    <div>
        <h5>Welcome, {{user.firstName}}  {{user.lastName}}. Following is your feed on the basis of tags you followed</h5>
        <ul>
            {{#feed}}
                <li>
                    <img class="resize" src="{{image}}" alt="image"/>
                </li>
            {{/feed}}
        </ul>
    </div>
</div>