<div>
    <div class="redbox">
        <h5>Welcome, {{user.firstName}}  {{user.lastName}}</h5>
        <div class="redbox">
            <h5>Posts</h5>
            <h4>{{user.userPostCount}}</h4>
        </div>
        <div class="bluebox">
            <h5>Following</h5>
            <h4>{{user.user.followingTagCount}}</h4>
        </div>
    </div>
</div>