<div class="row">
    <div class="col-md">
        <h3>Tags</h3>
        <ul>
            {{#tags}}
                <li>
                    <form action="/followTag" method="POST">
                        <div class="input-group mb-3">
                            <input type="submit" name={{this.name}} value={{this.name}}>
                        </div>
                    </form>
                </li>
            {{/tags}}
        </ul>
    </div>
</div>