<div class="row">
    <p>spicy</p>
</div>
<div class="row">
    <p>sweet</p>
</div>
<div class="row">
    <p>must-try</p>
</div>
<div class="row">
    <p>expensive</p>
</div>
<div class="row">
    <p>can-skip</p>
</div>