<div>
    <h3>Here is a list of all the tags you can follow</h3>
    <ul>
        {{#tags}}
            <li>
                <form action="/followTag" method="POST">
                    <div class="a8">
                        <input type="submit" class="a9" name={{tag.name}} value={{tag.name}}
                               style="background-color:{{#if follow}}#b6e89d{{else}}#FFFFFF{{/if}};"
                        >
                    </div>
                </form>
            </li>
        {{/tags}}
    </ul>
</div>