<div class="row">
    <div class="col-sm-6">
        <p>Splatter is a social network for food where you can share your favourite food pictures
        and describe them using tags</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p>You can also follow favourite tags and your feed would be based on that.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p>In the future, we would have support to search by a given tag and add support for user profile as well.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p>
            Splatter would help to solve review writing for a given dish/food and generate feed on the basis of tags
            user follows.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <p>Hopefully you would enjoy it.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <a href="/register"><button type="button" class="btn btn-light">Register</button></a>
        <a href="/login"><button type="button" class="btn btn-light">Log in</button></a>
    </div>
</div>